interactions:
- request:
    body: grant_type=refresh_token&client_id=REDACTED&client_secret=REDACTED&refresh_token=REDACTED&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fadmanager
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: '{"access_token":"REDACTED","expires_in":3599,"scope":"https://www.googleapis.com/auth/admanager","token_type":"Bearer","refresh_token_expires_in":525534}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://admanager.googleapis.com/v1/networks/0/creativeTemplates?%24alt=json%3Benum-encoding%3Dint
  response:
    body:
      string: '{"creativeTemplates":[{"name":"networks/0/creativeTemplates/10000320","displayName":"Pop-up
        or pop-under window with third-party content","description":"To track clicks
        for creatives using this template, you must insert the third party''s click
        tracking macro into the URL. Work with your third party to learn how.","snippet":"<script
        type=\"text/javascript\">\nif(typeof(DoNotDisplayIA)!=''number''){ // check
        for variable preventing multiple pop-ups from appearing\n(function(){ // anonymous
        function to limit scope \n\nvar w=window.open(\"%%VIEW_URL_UNESC%%[%URLforthirdpartycontent%]\",
        \"[%Targetwindow%]\", \"width=[%Width%],height=[%Height%],toolbar=[%Displaytoolbar%],location=[%Displayaddressbar%],status=[%Displaystatusbar%],menubar=[%Displaymenubar%],scrollbars=[%Displayscrollbars%],resizable=[%Allowthewindowtoberesized%],directories=[%Displaydirectorybuttons%],fullscreen=[%Displayinfullscreenmode%]\");\nif(w&&(\"[%Type%]\"==\"Pop-under\"))w.blur();
        // try to make the window a pop-under\n\n})() // end anonymous function\nDoNotDisplayIA=1;
        // set variable preventing multiple pop-ups from appearing\n}\n</script>\n","status":1,"type":1,"interstitial":true,"nativeEligible":false,"nativeVideoEligible":false,"safeFrameCompatible":false,"variables":[{"label":"URL
        for third party content","uniqueDisplayName":"URLforthirdpartycontent","description":"Enter
        the URL that serves third party content.","required":true,"urlVariable":{"urlType":4}},{"label":"Type","uniqueDisplayName":"Type","description":"Pop-up
        displays the ad on top of your web page. Pop-under displays the ad under your
        web page. Note: The default browser settings of Chrome and Firefox render
        this creative type as a pop-up.","required":true,"listStringVariable":{"defaultValue":"Pop-under","choices":[{"label":"Pop-up","value":"Pop-up"},{"label":"Pop-under","value":"Pop-under"}],"allowOtherChoice":false}},{"label":"Width","uniqueDisplayName":"Width","description":"Enter
        the width of the creative window, in pixels.","required":true,"longVariable":{}},{"label":"Height","uniqueDisplayName":"Height","description":"Enter
        the height of the creative window, in pixels.","required":true,"longVariable":{}},{"label":"Allow
        the window to be resized","uniqueDisplayName":"Allowthewindowtoberesized","description":"Select
        whether or not you want to allow the user to resize the window containing
        the ad.","required":true,"listStringVariable":{"defaultValue":"yes","choices":[{"label":"yes","value":"yes"},{"label":"no","valu[...]
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header><ns0:RequestHeader
      xmlns:ns0="https://www.google.com/apis/ads/publisher/v202508"><ns0:networkCode>0</ns0:networkCode><ns0:applicationName>gampan/0.1.0
      (DfpApi-Python, googleads/49.0.0, Python/3.12.13, zeep)</ns0:applicationName></ns0:RequestHeader></soap-env:Header><soap-env:Body><ns0:getNativeStylesByStatement
      xmlns:ns0="https://www.google.com/apis/ads/publisher/v202508"><ns0:filterStatement><ns0:query></ns0:query></ns0:filterStatement></ns0:getNativeStylesByStatement></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://ads.google.com/apis/ads/publisher/v202508/NativeStyleService
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Header><ResponseHeader
        xmlns="https://www.google.com/apis/ads/publisher/v202508"><requestId>243e765b32fd862d98beea94e62fe20a</requestId><responseTime>341</responseTime></ResponseHeader></soap:Header><soap:Body><getNativeStylesByStatementResponse
        xmlns="https://www.google.com/apis/ads/publisher/v202508"><rval><totalResultSetSize>0</totalResultSetSize><startIndex>0</startIndex></rval></getNativeStylesByStatementResponse></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
